<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Grotesk:wght@300;400;700&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<hr>
    <footer>
    
   <div class="footer-content">
    <div class="footer-text">
      CST336 Internet Programming. 2023&copy; SoCal PacifiCode <br />
      <strong> Disclaimer: </strong> The information in this webpage is used for academic purposes only.
    </div>
  </div>
  <div><br />
    <img src="img/csumb_logo_small.jpg" alt="CSUMB Logo" class="csumb" />
  </div>
 
</footer>

